* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #7e64b7;
  background-image: linear-gradient(
    90deg,
    #7e64b7 25%,
    #09ff00 54%,
    #b31515 99%
  );
}
